body {
    margin: 0;
    overflow-x: hidden;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    background-color: rgb(54, 53, 53);
}
#about-opener {
    background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
	background-size: 500% 500%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    width: 100vw;
    transition: font-size 1s;
}
#particles-js {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 0;
}
h1 {
    font-size: 3.2em;
    width: 100%;
}

a {
    color: rgb(242, 201, 152);
    transition: color 1s;
}

a:hover {
    color: rgb(26, 125, 186);
}

hr {
    background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
    height: 1vh;
    width: inherit;
    border: none;
    opacity: 30%;
}

#about {
    position: relative;
    z-index: 1;
    padding: 10%;
    padding-top: 0;
    padding-bottom: 5%;

    color: whitesmoke;
    font-size: 2em;
    width: 75vw;
    animation: slide-in 5s ease 1;

}
#learn-more {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.4em;
    animation: bounce 4s ease infinite;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    80% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(0%);
    }
}


/* Nav Stuff*/
#nav {
    position: relative;
    z-index: 1;
    width: 90vw;
    padding: 5%;
    padding-top: 3%;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#nav a {
    color: white;
    font-size: 1.2em;
}

#nav-buttons {
    width: 100%;
    display: flex;
    justify-content:flex-end;
}

.nav-button {
    font-size: 1.2em;
    border-radius: 10%;
    border: none;
    background: none;
    color: white;
    margin: 2%;
    transition: color 1s;

}

.nav-button:hover {
    font-size: 1.2em;
    border-radius: 10%;
    border: none;
    background: none;
    color: black;
    margin: 2%;
    cursor: pointer;
}

@media(max-width: 780px) {
    #about-opener {
        font-size: 0.85em;
    }
}
@media(max-width: 630px) {
    h1 {
        font-size: 2.4em;
    }
    #about-opener {
        font-size: 0.9em;
    }
}
@media(max-width: 430px) {
    h1 {
        font-size: 1.5em;
    }
    #about-opener {
        text-align: center;
        padding: 4% 0;
        width: 100vw;
        font-size: 1em;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }
    #nav {
        display: none;
    }
}

/* After top part */
footer {
    transition: font-size 1s;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1%;
    color: whitesmoke;
    background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
}

@media(max-width: 780px) {
    footer {
        font-size: small;
    }
}

#sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.section-title {
    font-size: 3em;
    color: whitesmoke;
    animation: bounce 4s ease infinite;
}

@media(max-width: 440px) {
    .section-title {
        font-size: 3em;
        text-align: center;
        color: whitesmoke;
        animation: bounce 4s ease infinite;
    }
}

/* About section */

/* Socials */

#about-section {
    background-color: rgba(249, 226, 135, 0.041);
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 90vw;
    padding: 5%;
    font-size: 1.4em;
    color: rgb(230, 230, 230);
    padding-top: 3%;
    padding-bottom: 3%;
}


#name-and-socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


#socials {
    background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
    width: fit-content;
    display: flex;
    padding: 4% 12%;
    gap: 6%;
    justify-content: center;
    border-radius: 15px;
    transition: padding 1s;
}

.social-photo {
    width: 3vw;
    margin: 0.5%;
}

#name {
    font-size: 2em;
    animation: bounce 4s ease infinite;
}

#resume-and-drawing {
    display: flex;
    justify-content: space-between;
}

#drawing {
    width: 12vw;
}
@media(max-width: 680px) {
    #drawing {
        display: none;
    }
}

@media (max-width: 900px) {
    #about-section {
        background-color: rgba(249, 226, 135, 0.041);
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        width: 100vw;
        font-size: 1.4em;
        color: rgb(230, 230, 230);
        padding-top: 3%;
        padding-bottom: 3%;
        flex-direction: column;
    }
    #name-and-socials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 5%;
    }
    .social-photo {
        width: 6vw;
        margin: 0.5%;
    }
    #socials {
        background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
        width: fit-content;
        display: flex;
        padding: 4% 6%;
        gap: 6%;
        justify-content: center;
        border-radius: 15px;
    }

}

/* Project Section */
#project-section {
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 4%;
    width: 90vw;
}

.skills {
    background: linear-gradient(45deg,  rgb(19, 102, 154),rgb(154, 192, 146),  rgb(249, 165, 135), rgb(249, 226, 135));
    border-radius: 15px;
    padding: 1.3%;
    width: fit-content;
    color: black;
    text-align: center;
}


.project-title {
    font-size: 1.8em;
    color: rgb(182, 72, 29);
}

@media(max-width: 440px) {
    .project-title {
        font-size: 1.8em;
        color: rgb(182, 72, 29);
        text-align: center;
        margin-top: 8%;
    }
}

.project {
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4%;
}

.project-info {
    font-size: 1.2em;
    width: 50vw;
}
.project-bar {
    width: 1vw;
    background-color: whitesmoke;
    height: 50vh;
}

@media (max-width: 1100px) {
    .project-bar {
        display: none;
    }
}
.opacity-bar {
    width: 2vw;
    background-color: rgba(255, 25, 0, 0.468);
    height: 50vh;
}

.project-image {
    background: linear-gradient(45deg, white, rgba(210, 76, 18, 0.749));
    border-radius: 15px;
    width: 15em;
    height: 15em;
    padding: 5%;
}
@media(max-width: 900px) {

    .project-image {
        display: none;
    }
    
    .project-info {
        font-size: 1.2em;
        width: 85vw;
    }
}

/* experience section */
#experience-section {
    padding: 5%;
    padding-top: 0;
    padding-bottom: 3%;
    width: 90vw;
}

#jobs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: whitesmoke;
}
@media(max-width: 440px) {
    .job-title {
        text-align: center;
    }
}

.job {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 38vw;
    margin: 2%;
    font-size: 1.2em;
    padding: 1%;
}
@media(max-width: 900px) {

    #jobs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: whitesmoke;
    }
    .job {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80vw;
        margin: 2%;
        font-size: 1.2em;
        padding: 1%;
    }
}

/* gallery */
#gallery {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5%;
}

.gallery-caption-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    margin: 0.5%;
}
.gallery-caption-pair:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    width: 25vw;
    height: 25vw;
    overflow: hidden;
    margin: 0.5%;
    filter: brightness(1.1);
}
.gallery-pic {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 25vw;
    height: auto;
}
.gallery-caption {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25vw;
    height: 25vw;
    background-image: linear-gradient( 180deg,  rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.253) 65%, rgb(0, 0, 0));
    position: absolute;
    z-index: 0;
}

@media(max-width: 900px) {
    #gallery {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 5%;
    }
    .gallery-pic {
        width: 80vw;
        height: auto;
        margin: 5% 3% 1% 3%;
    }
    .gallery-caption-pair {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 0;
        width: 80vw;
        height: inherit;
        overflow: hidden;
    }
    .gallery-caption-pair:hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 0;
        width: 80vw;
        height: inherit;
        overflow: hidden;
        filter: brightness(1.1);
    }
    .gallery-caption {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        width: 80vw;
        background-image: linear-gradient( 180deg,  rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.253) 65%, rgb(0, 0, 0));
        position: absolute;
        z-index: 0;
    }
}
