@font-face {
  font-family: tangiang;
  src: url(./Assets/Tangiang.otf);
}
* {
  font-family: tangiang;
}
body {
  display: flex;
  justify-content: center;
  color:rgb(224, 223, 223);
}
a {
  color:rgb(224, 223, 223);
}
#nav-bar {
  text-align: center;
  z-index: 101;
  position: fixed;
  background-color: rgb(155, 89, 46);
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5%;
  height: 6vh;
  font-size: 20px;
  box-shadow: 0px 10px 6px -5px rgb(72, 72, 72);
  width: 95vw;
}
.nav-element {
  margin: 15px;
}
h1 {
  color: rgb(46, 31, 39);
}
#tyson {
  width: 50%;
  height: auto;
}
#tyson-nazare {
  width: 10%;
  height: auto;
}
#upperLayer {
  position: absolute;
  z-index: 100;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
}
header{
  text-align: center;
  z-index: 100;
  flex-direction: column;
  color: whitesmoke;

}
body {
  width: 100%;
  margin: 0;
}
.infoSection {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  margin-left: 8%;
  margin-right: 8%;
}
.infoBlock {
  background-color: rgb(46, 31, 39);
  margin: 15px;
}
.projectBox {
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: left;
  overflow: hidden;
}
.experience-box {
  display: flex;
  align-items: center;
  padding: 15px;
  text-align: left;
  overflow: hidden;
  background-color: rgb(133, 77, 39);
  margin: 5px;
}
#pageTop {
  display: flex;
  background-color: rgb(133, 77, 39);
  margin: auto;

}
#nameCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 77, 39, 0.8);
  margin: 15px;
  line-height: 0px;
}
#name {
  font-size: 31px;
  color: rgb(46, 31, 39);
}
#gallery {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}
.galleryPic {
  width: 70%;
  height: auto;
  margin: 2%;
}
#aboutMe {
  text-align: start;
  align-items: center;
  font-size: 20px;
  background-color: rgba(133, 77, 39, 0.8);
  padding: 25px;
  margin: 15px;
}
#socials {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}

footer {
  text-align:  center;
  margin: 15px;
  background-color: rgba(133, 77, 39, 0.8);
  padding: 2px;
}

#restaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6vw;
  margin-top: 8%;
  margin-left: 5vw;
  margin-right: 5vw;
  overflow: hidden;
}

#search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#map {
  width: 70vw;
  height: 75vh;
}

#loading {
  visibility: hidden;
  display: flex;
  justify-content: center;
}

/* loading from loading.io*/
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-inline: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgba(133, 77, 39, 0.8) transparent rgba(133, 77, 39, 0.8) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#result {
  background-color: rgba(133, 77, 39, 0.8);
  padding: 1vw;
}

button {
  background-color: rgb(155, 89, 46);
  border: none;
  padding: 2vh;
  font-size: larger;
  color:rgb(224, 223, 223);
}

button:hover {
  cursor: pointer;
  background-color: rgb(85, 50, 26);
  border: none;
  padding: 2vh;
  font-size: larger;
  color:rgb(224, 223, 223);
}

#gift-background {
  z-index: 199;
  background-color: black;
  position: absolute;
  width: 100vw;
  height: 100vh;
  animation: gift-background-animation 7s;
  animation-fill-mode: forwards; 
}
#gift {
  z-index: 200;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 12.5vh;
  width: 80vw;
  height: 80vh;
  animation: gift-animation 6s;
  animation-fill-mode: forwards; 
  justify-content: center;
  align-items: center;
  display: flex;
}

@keyframes gift-animation {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  60% {
    transform: rotate(-30deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  92.5% {
    opacity: 100%;
    transform: rotate(10deg);
  }
  95% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes gift-background-animation {
  83% {
    background-color: black;
  }
  85% {
    background-color: rgb(255, 255, 255);
    opacity: 100%;
  }
  100% {
    background-color: rgb(255, 255, 255);
    opacity: 0%;
    visibility: hidden;
  }
}

#horiz-wrap {
  z-index: 201;
  background-color: rgb(108, 143, 92);
  position: absolute;
  width: 80vw;
  height: 20vh;

  box-shadow: 0px 0px 6px 5px rgb(0, 0, 0);

}
#vert-wrap {
  z-index: 201;
  background-color: rgb(108, 143, 92);
  position: absolute;
  width: 10vw;
  height: 80vh;
  box-shadow: 0px 0px 6px 5px rgb(0, 0, 0);
}

#present-tag {
  font-size: larger;
  font-weight: bolder;
  color: black;
  padding: 2vh;
  z-index: 201;
  background-color: rgb(220, 207, 157);
  position: absolute;
  width: 15vw;
  height: 15vh;
  top: 55vh;
  right: 15vh;
  box-shadow: 0px 0px 6px 2px rgb(0, 0, 0);
}